<?xml version="1.0"?>

<robot name="hyq" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:arg name="task_period" default="0.004"/>
        <xacro:arg name="arm_enabled" default="false"/>
        <xacro:arg name="arm_name" default="kinova"/>
	<xacro:arg name="load_force_sensors" default="false"/>
	<xacro:arg name="floating_base_link" default="true"/>
        <xacro:arg name="robot_name"  default="hyq"/>
        <xacro:arg name="base_name"   default="trunk"/>

        <!-- load generic materials -->
        <!--  <xacro:include filename="$(find wolf_description_utils)/urdfs/materials.xacro"/> -->

        <!-- generic simulator_gazebo plugins for starting mechanism control, ros time -->
        <xacro:include filename="$(find wolf_description_utils)/urdfs/gazebo.urdf.xacro"/>

        <!-- legs transmission and gazebo plugins -->
        <xacro:include filename="$(find wolf_description_utils)/urdfs/leg.transmission.xacro"/>
        <xacro:include filename="$(find wolf_description_utils)/urdfs/leg.gazebo.xacro"/>

	<!-- The following included files set up definitions of parts of the robot body -->
	<xacro:include filename="$(find hyq_description)/urdfs/common.xacro"/>
	
	<!-- HyQ trunk -->
	<xacro:include filename="$(find hyq_description)/urdfs/trunk/trunk.urdf.xacro"/>

	<!-- HyQ legs -->
	<xacro:include filename="$(find hyq_description)/urdfs/leg/leg.urdf.xacro"/>

	<!-- trunk -->
	<xacro:hyq_trunk name="base" floating_base_link="$(arg floating_base_link)">
		<!--origin xyz="-0.443 -0.191 -0.276" rpy="0 0 0"/-->
	</xacro:hyq_trunk>

	<!-- LF leg -->
	<xacro:hyq_leg
                prefix="lf"
		parent="trunk"
		reflect_hip="1"
		reflect_upper="1"
		reflect_front="1"
		knee_bent_backward="1"
		load_force_sensors="$(arg load_force_sensors)">
		<origin xyz="${d_fh/2} ${d_lr/2} 0" rpy="0 ${PI/2} ${PI}"/>
	</xacro:hyq_leg>

	<!-- RF leg -->
	<xacro:hyq_leg
                prefix="rf"
		parent="trunk"
		reflect_hip="-1"
		reflect_upper="-1"
		reflect_front="1"
		knee_bent_backward="1"
		load_force_sensors="$(arg load_force_sensors)">
		<origin xyz="${d_fh/2} ${-d_lr/2} 0" rpy="0 ${PI/2} 0"/>
	</xacro:hyq_leg>

	<!-- LH leg -->
	<xacro:hyq_leg
                prefix="lh"
		parent="trunk"
		reflect_hip="-1"
		reflect_upper="1"
		reflect_front="-1"
		knee_bent_backward="0"
		load_force_sensors="$(arg load_force_sensors)">
		<origin xyz="${-d_fh/2} ${d_lr/2} 0" rpy="0 ${PI/2} ${PI}"/>
	</xacro:hyq_leg>

	<!-- RH leg -->
	<xacro:hyq_leg
                prefix="rh"
		parent="trunk"
		reflect_hip="1"
		reflect_upper="-1"
		reflect_front="-1"
		knee_bent_backward="0"
		load_force_sensors="$(arg load_force_sensors)">
		<origin xyz="${-d_fh/2} ${-d_lr/2} 0" rpy="0 ${PI/2} 0"/>
	</xacro:hyq_leg>

        <xacro:if value="$(arg arm_enabled)">
               <xacro:include filename="$(find hyq_description)/urdfs/arm/$(arg arm_name)_adapter.urdf.xacro" /> -->
        </xacro:if>


</robot>

