<?xml version="1.0" ?>
<launch>
        <arg name="sensors" default="false" />
        <arg name="robot_name" default="spot"/>
        <arg name="task_period" default="0.004"/>
        <arg name="arm_enabled" default="false"/>
        <arg name="arm_name" default="kinova"/>
        <arg name="urdf_file" default="$(eval find(arg('robot_name') + '_description') + '/robots/' + arg('robot_name') + '.urdf.xacro')"/>
        <arg name="srdf_file" default="$(eval find(arg('robot_name') + '_description') + '/robots/' + arg('robot_name') + '.srdf.xacro')"/>
        <arg name="srdf_file_arm" default="$(eval find(arg('robot_name') + '_description') + '/robots/' + arg('robot_name') + '_' + arg('arm_name') + '.srdf.xacro')"/>

        <!-- send robot urdf to param server -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg urdf_file)'
        arm_enabled:=$(arg arm_enabled) arm_name:=$(arg arm_name) floating_base_link:=true sensors:=$(arg sensors) task_period:=$(arg task_period)"/>

        <param name="gazebo_robot_description" command="$(find xacro)/xacro --inorder '$(arg urdf_file)'
        arm_enabled:=$(arg arm_enabled) arm_name:=$(arg arm_name) floating_base_link:=false sensors:=$(arg sensors) task_period:=$(arg task_period)"/>

        <!-- send robot semantic description srdf to param server -->
        <group if="$(arg arm_enabled)">
             <param name="robot_semantic_description" command="$(find xacro)/xacro --inorder '$(arg srdf_file_arm)'" />
       </group>
       <group unless="$(arg arm_enabled)">
            <param name="robot_semantic_description" command="$(find xacro)/xacro --inorder '$(arg srdf_file)'" />
       </group>

</launch>

