<launch>

<rosparam file="$(find ylo2_urdf_2022_description)/launch/controller.yaml" command="load"/>
<node args="Révolution1_position_controller Révolution2_position_controller Révolution3_position_controller joint_state_controller " name="controller_spawner" ns="ylo2_urdf_2022" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/ylo2_urdf_2022/joint_states"/>
</node>

</launch>