<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

<link name="kinova_adapter_link"/>
<joint name="joint_base_robots" type="fixed">
       <parent link="trunk"/>
       <child link="kinova_adapter_link"/>
       <origin xyz="0.35 0.0 -0.08" rpy="0 0 0"/>
</joint>

<xacro:include filename="$(find kinova_description)/urdf/m1n4s200.xacro"/>
<xacro:m1n4s200  base_parent="kinova_adapter_link" prefix="kinova"/>

</robot>
