<?xml version="1.0"?>
<robot name="realsense" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find sensors_description)/urdfs/sensors/realsense.urdf.xacro"/>

<link name="parent" />

<xacro:sensor_r430 parent="parent" prefix="front">
 <origin xyz="0 0 0" rpy="0 0 0"/>
</xacro:sensor_r430>

<xacro:sensor_r430 parent="parent" prefix="back">
 <origin xyz="0 0 0" rpy="0 0 -1.5708"/>
</xacro:sensor_r430>


</robot>

