<?xml version="1.0"?>

<model>
  <name>spot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Gennaro Raiola</name>
    <email>gennaro.raiola@gmail.com</email>
  </author>

  <author>
    <name>Gennaro Raiola</name>
  </author>

  <description>
    Spot robot model
  </description>
</model>
